<form action="/robots/<%= robot_world.all.find{|robo|robo["name"]==@robot.name}["id"] %>" method="post">
  <h4>Edit</h4>
  <input type="hidden" class="form-control" name="_method" value="PUT"> 
  <div class="form-group row"> 
    <div class="col-md-6">
      <span class="label label-default">Name</span>
      <input type="text" class="form-control" name="robot[name]" value="<%= @robot.name %>">
    </div>
    <div class="col-md-3">
      <span class="label label-default">City</span>
      <input type="text" class="form-control" name="robot[city]" value="<%= @robot.city %>">
    </div>
    <div class="col-md-1">
      <span class="label label-default">State</span>
      <input type="text" class="form-control" name="robot[state]" value="<%= @robot.state %>">
    </div>
    <div class="form-group">
      <div class="col-md-10">
      <span class="label label-default">Birthdate</span>
        <div class="col-md-2">
          <input type="text" class="form-control" name="robot[birthdate][month]" value="<%= @robot.birthdate.split("/").first.to_i %>" maxlength="2" required="true">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="robot[birthdate][day]" value="<%= @robot.birthdate.split("/")[1].to_i %>" maxlength="2" required="true">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="robot[birthdate][year]" value="<%= @robot.birthdate.split("/").last.to_i %>" minlength="4" maxlength="4" required="true">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <span class="label label-default">Date Hired</span>
        <div class="col-md-2">
          <input type="text" class="form-control" name="robot[date_hired][month]" value="<%= @robot.date_hired.split("/").first.to_i %>" maxlength="2" required="true">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="robot[date_hired][day]" value="<%= @robot.date_hired.split("/")[1].to_i %>" maxlength="2" required="true">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="robot[date_hired][year]" value="<%= @robot.date_hired.split("/").last.to_i %>" minlength="4" maxlength="4" required="true">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-10">
        <div class="radio">
          <label>
            <input type="radio" name="robot[department]" value="RoboPolice">
            RoboPolice
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="robot[department]" value="Librarian">
            Librarian
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="robot[department]" value="Trash Compactor">
            Trash Compactor
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4">
        <input name="robot[avatar]" type="text" class="form-control" value="<%= @robot.avatar%>">
      </div>
    </div>
  </div>
  <input class="btn btn-success" type="submit" value="Edit">
</form>
