%h3.text-center Welcome to Robot World!
#robots.row
  - @robots.each do |robot|
    .card.col-md-3.col-offset-md-1
      .thumbnail{:href => "/robots/#{robot["id"]}"}
        %img{:src => robot["avatar"], :alt => "Card image cap"}
        .card-block.text-center
          %a{:href => "/robots/#{robot["id"]}"}
            %h5.card-title.text-center= robot["name"]
            %p
              %a.btn.btn-xs.btn-success{:href => "/robots/#{robot["id"]}", :role => "button"} Edit
            %p
            %form{:action => "/robots/#{robot["id"]}", :method => "POST"}
              %input.form-control{:type => "hidden", :name => "_method", :value => "DELETE"}
              %input.btn.btn-xs.btn-danger{:type => "submit", :value => "Delete"}
%p
  .row
    %a.btn.btn-success.btn-xs{:href => "/robots/new", :role => "button"} Create new robot
%p
  .row
    %a.btn.btn-xs.btn-info{:href => "/", :role => "button"} Back to dashboard
