<h3 class="text-center">Welcome to Robot World!</h3>
<div class="row" id="robots">
  <% @robots.each do |robot|%>
    <div class="card col-md-3 col-offset-md-1">
      <a class="thumbnail" href="/robots/<%= robot["id"] %>"><img src="<%= robot["avatar"] %>" alt="Card image cap"></a>
      <div class="card-block text-center">
        <a href="/robots/<%= robot["id"] %>"><h5 class="card-title text-center"><%= robot["name"] %></h5></a>
        <p><a class="btn btn-xs btn-success" href="/robots/<%= robot["id"] %>/edit" role="button">Edit</a></p>
        <p><form action="/robots/<%= robot["id"] %>" method="POST">
          <input type="hidden" class="form-control" name="_method" value="DELETE">
          <input class="btn btn-xs btn-danger" type="submit" value="Delete">
        </form></p>
      </div>
    </div>
  <% end %>
</div>
<p><div class="row">
  <a class="btn btn-success btn-xs" href="/robots/new" role="button">Create new robot</a>
</div></p>
<p><div class="row">
  <a class="btn btn-xs btn-info" href="/" role="button">Back to dashboard</a>
</div></p>
